<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random Cat, Dog, and Rabbit</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
</head>
<body>
    <section class="section">
        <div class="container">
            <h1 class="title has-text-centered">Random Cat, Dog, and Rabbit</h1>
            <div class="columns is-centered">
                <div class="column is-one-third">
                    <div class="image-container">
                        <h2 class="subtitle">Random Cat</h2>
                        <img id="cat-image" src="{{ cat_image_url }}" alt="Random Cat">
                        <p>
                            <button class="button is-primary" onclick="refreshCat()">Get another cat</button>
                            <button class="button is-link" onclick="downloadImage('{{ cat_image_url }}')">Download</button>
                            <button id="sound-button" class="sound-button" onclick="playRandomCatSound()"></button>
                        </p>
                        <audio id="cat-sound1" src="{{ url_for('static', filename='sounds/cat_sound1.mp3') }}"></audio>
                        <audio id="cat-sound2" src="{{ url_for('static', filename='sounds/cat_sound2.mp3') }}"></audio>
                        <audio id="cat-sound3" src="{{ url_for('static', filename='sounds/cat_sound3.mp3') }}"></audio>
                    </div>
                </div>
                <div class="column is-one-third">
                    <div class="image-container">
                        <h2 class="subtitle">Random Dog</h2>
                        <img id="dog-image" src="{{ dog_image_url }}" alt="Random Dog">
                        <p>
                            <button class="button is-primary" onclick="refreshDog()">Get another dog</button>
                            <button class="button is-link" onclick="downloadImage('{{ dog_image_url }}')">Download</button>
                            <button id="sound-button" class="sound-button" onclick="playRandomDogSound()"></button>
                        </p>
                        <audio id="dog-sound1" src="{{ url_for('static', filename='sounds/dog_sound1.mp3') }}"></audio>
                        <audio id="dog-sound2" src="{{ url_for('static', filename='sounds/dog_sound2.mp3') }}"></audio>
                        <audio id="dog-sound3" src="{{ url_for('static', filename='sounds/dog_sound3.mp3') }}"></audio>
                    </div>
                </div>
                <div class="column is-one-third">
                    <div class="image-container">
                        <h2 class="subtitle">Random Rabbit</h2>
                        <img id="rabbit-image" src="{{ rabbit_image_url }}" alt="Random Rabbit">
                        <p>
                            <button class="button is-primary" onclick="refreshRabbit()">Get another rabbit</button>
                            <button class="button is-link" onclick="downloadImage('{{ rabbit_image_url }}')">Download</button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script>
        function refreshCat() {
            fetch('/get-cat')
                .then(response => response.json())
                .then(data => {
                    document.getElementById('cat-image').src = data.cat_image_url;
                });
        }

        function refreshDog() {
            fetch('/get-dog')
                .then(response => response.json())
                .then(data => {
                    document.getElementById('dog-image').src = data.dog_image_url;
                });
        }

        function refreshRabbit() {
            fetch('/get-rabbit')
                .then(response => response.json())
                .then(data => {
                    document.getElementById('rabbit-image').src = data.rabbit_image_url;
                });
        }

        function downloadImage(url) {
            window.location.href = '/download-image?url=' + encodeURIComponent(url);
        }

        function playRandomCatSound() {
            const catSounds = [
                document.getElementById('cat-sound1'),
                document.getElementById('cat-sound2'),
                document.getElementById('cat-sound3')
            ];
            const randomSound = catSounds[Math.floor(Math.random() * catSounds.length)];
            randomSound.play();
        }

        function playRandomDogSound() {
            const dogSounds = [
                document.getElementById('dog-sound1'),
                document.getElementById('dog-sound2'),
                document.getElementById('dog-sound3')
            ];
            const randomSound = dogSounds[Math.floor(Math.random() * dogSounds.length)];
            randomSound.play();
        }
    </script>
</body>
</html>
